<center>
  <h1>Login</h1>
</center>

<form action="/login" method="POST" id="authBox">
  <div>
    <label for="username">Username:</label>
    <input id="username" type="text" name="username">
    <br><br>
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password">
  </div>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <button type="submit">Log In</button>
  </div>
  <p class="account-message">
    Need to create an account?
    <a href="/signup">Sign up</a>
  </p>
</form>