<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header id="navbar">
    <a href="/"><img id="logo" width="400px" src="/images/recipehelper.png"></a>
    <div>
      <form method="post" action="/search">
        <input id="searchTop" type="text" name="query">
        <input type="submit">
      </form>
    </div>
    <div>
      <ul>
        {{#if user}}
        <h4 id="welcome">Welcome, {{user.username}}</h4>
        <a href="/logout">Sign out</a>
        {{else}}
        <a href="/signup">
          <li>Sign up</li>
        </a>
        <a href="/login">
          <li>Log in</li>
        </a>
        {{/if}}



      </ul>
    </div>
  </header>
  <div id="body-container">
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.4.0.slim.js"
    integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ=" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.slim.js"
    integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ=" crossorigin="anonymous"></script>


</body>

</html>