<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header id="navbar">
    <a id="aLogo" href="/"><img id="logo" width="400px" src="/images/recipehelper.png"></a>
    <div id="searchForm">
      <form id="searchBox" method="post" action="/search">
        <input id="searchInput" type="text" name="query">
        <input id="searchSubmit" type="submit">
      </form>
    </div>
    <div id="userDisplay">

      {{#if user}}
      <span id="welcome">Welcome, {{sentence-case user.username}}</span>
      <a href="/logout">Sign out</a>
      {{else}}
      <a href="/signup">
        <li>Sign up</li>
      </a>
      <a href="/login">
        <li>Log in</li>
      </a>
      {{/if}}




    </div>
  </header>
  <div id="body-container">
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.4.0.slim.js"
    integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ=" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>



</body>


</html>