<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header id="navbar">
    <a href="/"><img id="logo" width="400px" src="/images/recipehelper.png"></a>
    <div>
      <form method="post" action="/search">
        <input type="text" name="query">
        <input type="submit">
      </form>
    </div>
    <div>
      <ul>
        <a href="/signup">
          <li>Sign up</li>
        </a>
        <a href="/login">
          <li>Log in</li>
        </a>
        <a href="/logout">
          <li>Log out</li>
        </a>
      </ul>
    </div>
  </header>
  <div id="body-container">
    {{{body}}}
  </div>
  <script src="/javascripts/script.js"></script>
</body>

</html>