<ul id="myRecipes">
  {{#each savedRecipes}}
  <br>
  <a id="recipeHead" href="/my-recipes/{{this.recipeId}}">
    <li>{{this.title}}</li>
  </a>
  <a href="/delete/{{this.id}}"><button>Delete</button></a><br><br>
  <hr>
  {{/each}}
</ul>