<h2>Share something!</h2>
<form action="/shareImage" method="post" enctype="multipart/form-data">

  <input id="shareText" type="text" name="postBody"><br><br>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form>