@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

body {
  background: url("/images/bg.png");
  background-size: cover;
  overflow-x: hidden;
  // overflow-y: hidden;
  // background-repeat: repeat;
  margin: 0px;
  width: 100%;
  padding: 0px;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  // pointer-events: none;
  position: relative;
  z-index: -2;
}
#inputBox {
  width: 50%;
  height: 200px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
li {
  padding: 5px;
}
input {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.25em;
}
a {
  color: black;
  font-size: 1.1em;

  text-decoration: none;
}
button {
  margin: 15px;
}
#authBox {
  background: rgba(255, 255, 255, 0.815);
  border: 1px solid black;
  padding: 25px;
}
#searchForm {
  display: flex;
  align-items: center;
}
#joke {
  font-size: 1.75em;
}
#factContainer {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border: 2.5px solid black;
  border-radius: 25px;
}
#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

#navbar {
  background: #3b3b3b;
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-around;
}

#logo {
  align-self: center;
}

#body-container {
  margin: auto;
  border-radius: 0 0 25px 25px;
  text-align: center;
  margin-top: 0px;
  padding: 50px;
  width: 75%;

  // position: absolute;

  // background-image: url("/images/pattern.png");
  background: rgba(255, 255, 255, 0.815);
}

#body-container {
  animation-duration: 0.5s;
  animation-name: slidein;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  margin-left: 10%;
}

@keyframes slidein {
  0% {
    margin-top: -100px;
  }

  100% {
    margin-top: 0px;
  }
}

#description {
  line-height: 1.5;
  font-size: 1.25em;
}

#attributes {
  background: white;
  display: inline;
}

.editing {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
}
#inputBox {
  width: 80%;
  height: 200px;
  font-size: 1.25em;
}
#searchbar {
  width: 50%;
  margin: auto;
}

#recipe {
  width: 75%;
  margin: auto;
}
#searchInput {
  padding: 10px;
  width: 500px;
}
#searchSubmit {
  background-color: #df3b3b; /* Green */
  border: 1px solid black;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#searchBox {
  display: flex;
  margin: 10px;
}
#searchTop {
  width: 500px;
  height: 50px;
  margin-top: 25px;
  font-size: 2em;
}

#welcome {
  color: black;
  font-size: 1.5em;
}
#userWelcome {
  color: #df3b3b;
}
#searchSubmit-users {
  background-color: #ffffff; /* Green */
  border: 1px solid black;
  color: rgb(59, 59, 59);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#instructionsEdit {
  height: 100px;
  width: 600px;
  resize: none;
}

#recipeHead {
  font-size: 2em;
}

#myRecipes {
  list-style: none;
}

#recipeTitle {
  font-size: 3em;
}

#userStuff {
  color: grey;
}
#dishImage {
  border: 5px solid black;
}

#avatar {
  border: 5px solid black;
  width: 200px;
  border-radius: 50%;
}

#postModule {
  border: 1px solid black;
  padding: 10px;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 25px;
  width: 100%;
}

#postContainer {
  display: flex;
  flex-direction: column;
}

#content {
  text-align: left;
  margin-left: 25px;
}
#userDisplay {
  position: absolute;
  top: 30px;
  right: 45px;
  background: white;
  border-radius: 5px;
  color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#shareText {
  width: 50%;
}
#sharedImage {
  width: 25%;
  margin-left: 100px;
}
#postAvatar {
  border: 1px solid black;
  border-radius: 50%;
}
/*

MOBILE


*/

@media (max-width: 1000px) {
  html {
    overflow-x: hidden;
    // height: 100%;
  }
  #dishImage {
    width: 100%;
    border: 5px solid black;
  }
  #recipeTitle {
    font-size: 2em;
  }
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  button {
    margin: 15px;
  }
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-size: initial;
    padding: 0px;
    overflow-x: hidden;
  }
  #aLogo {
    position: relative;
    left: 25%;
  }
  #form {
    margin: 30px auto;
    width: 380px;
  }

  #navbar {
    margin: 0px;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
  }

  #logo {
    margin-top: 50px;
    align-self: center;
    width: 50%;
    order: 1;
  }
  .editing {
    width: 80%;
  }
  #body-container {
    margin: auto;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    width: 90%;
    background: rgba(255, 255, 255, 0.815);
    position: absolute;
    margin-left: 5%;
  }

  #description {
    line-height: 1.5;
  }

  #attributes {
    background: white;
    display: inline;
  }

  #recipe {
    width: 75%;
    margin: auto;
  }

  #searchTop {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    font-size: 2em;
  }

  #welcome {
    color: black;
  }
  #userDisplay {
    top: 0px;
    left: 0px;
    margin: auto;
    right: 0px;
    text-align: center;
  }
  #instructionsEdit {
    height: 100px;
    width: 600px;
    resize: none;
  }

  #recipeHead {
    font-size: 2em;
  }

  #myRecipes {
    list-style: none;
  }
  #searchInput {
    padding: 10px;
    width: 100%;
  }
  #searchSubmit {
    background-color: #df3b3b; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #searchBox {
    display: flex;
    margin: 10px;
  }

  #inputBox {
    width: 80%;
    height: 200px;
  }
  .yellowBtn {
    background: yellow;
    color: black;
  }
  #postModule {
    border: 1px solid black;
    padding: 10px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #postContainer {
    display: flex;
    flex-direction: column;
  }

  #content {
    text-align: center;
    margin-left: 25px;
  }
}

//searec
button {
  background-color: #df3b3b; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
