@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
body {
  background: url("/images/bg.png");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: repeat;
  margin: 0px;
  width: 100%;
  padding: 0px;
  font-family: "Roboto Condensed", sans-serif; }

#inputBox {
  width: 50%;
  height: 200px; }

ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

li {
  padding: 5px; }

input {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.25em; }

a {
  color: black;
  font-size: 1.1em;
  text-decoration: none; }

button {
  margin: 15px; }

#authBox {
  background: rgba(255, 255, 255, 0.815);
  border: 1px solid black;
  padding: 25px; }

#searchForm {
  display: flex;
  align-items: center; }

#joke {
  font-size: 1.2em; }

#form {
  margin: 30px auto;
  width: 380px; }

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%; }

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background; }

#navbar {
  background: #3b3b3b;
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-around; }

#logo {
  align-self: center; }

#body-container {
  margin: auto;
  text-align: center;
  margin-top: 0px;
  padding: 50px;
  width: 75%;
  background: rgba(255, 255, 255, 0.815); }

#description {
  line-height: 1.5;
  font-size: 1.25em; }

#attributes {
  background: white;
  display: inline; }

.editing {
  width: 80%;
  border: 1px solid black;
  padding: 10px; }

#inputBox {
  width: 80%;
  height: 200px;
  font-size: 1.25em; }

#searchbar {
  width: 50%;
  margin: auto; }

#recipe {
  width: 75%;
  margin: auto; }

#searchInput {
  padding: 10px;
  width: 500px; }

#searchSubmit {
  background-color: #df3b3b;
  /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

#searchBox {
  display: flex;
  margin: 10px; }

#searchTop {
  width: 500px;
  height: 50px;
  margin-top: 25px;
  font-size: 2em; }

#welcome {
  color: white; }

#searchSubmit-users {
  background-color: #ffffff;
  /* Green */
  border: none;
  color: #3b3b3b;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

#instructionsEdit {
  height: 100px;
  width: 600px;
  resize: none; }

#recipeHead {
  font-size: 2em; }

#myRecipes {
  list-style: none; }

#recipeTitle {
  font-size: 3em; }

#userStuff {
  color: grey; }

#dishImage {
  border: 5px solid black; }

#avatar {
  border: 5px solid black;
  width: 200px; }

#postModule {
  border: 1px solid black;
  padding: 10px;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center; }

#postContainer {
  display: flex;
  flex-direction: column; }

#content {
  text-align: left;
  margin-left: 25px; }

/*

MOBILE


*/
@media (max-width: 800px) {
  html {
    overflow-x: hidden; }
  #dishImage {
    width: 100%;
    border: 5px solid black; }
  #recipeTitle {
    font-size: 2em; }
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
  button {
    margin: 15px; }
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-size: initial;
    padding: 0px;
    overflow-x: hidden; }
  #aLogo {
    position: relative;
    left: 25%; }
  #form {
    margin: 30px auto;
    width: 380px; }
  #navbar {
    margin: 0px;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around; }
  #logo {
    align-self: center;
    width: 50%;
    order: 1; }
  .editing {
    width: 80%; }
  #body-container {
    margin: auto;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    width: 90%;
    background: rgba(255, 255, 255, 0.815); }
  #description {
    line-height: 1.5; }
  #attributes {
    background: white;
    display: inline; }
  #recipe {
    width: 75%;
    margin: auto; }
  #searchTop {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    font-size: 2em; }
  #welcome {
    color: white; }
  #userDisplay {
    display: none; }
  #instructionsEdit {
    height: 100px;
    width: 600px;
    resize: none; }
  #recipeHead {
    font-size: 2em; }
  #myRecipes {
    list-style: none; }
  #searchInput {
    padding: 10px;
    width: 100%; }
  #searchSubmit {
    background-color: #df3b3b;
    /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; }
  #searchBox {
    display: flex;
    margin: 10px; }
  #inputBox {
    width: 80%;
    height: 200px; }
  .yellowBtn {
    background: yellow;
    color: black; } }

button {
  background-color: #df3b3b;
  /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */